# pandas tutorial video 2 code basics

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [31]:
df.shape

(6, 4)

In [32]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [33]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [34]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [35]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [36]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [37]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [38]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [39]:
type(df['event'])

pandas.core.series.Series

In [40]:
df[['day','event','temperature']] #fetch some columns

        day  event  temperature
0  1/1/2017   Rain           32
1  1/2/2017  Sunny           35
2  1/3/2017   Snow           28
3  1/4/2017   Snow           24
4  1/5/2017   Rain           32
5  1/6/2017  Sunny           31

In [41]:
df.temperature.max()

35

In [42]:
df.temperature.mean()

30.333333333333332

In [43]:
df.describe() #show all basic maths funcns

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [44]:
df[df.temperature>=32] #all values where temp is >= 32

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [45]:
df[df.temperature==df.temperature.max()] #where temp is max

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [46]:
df[df.temperature==df['temperature'].max()] #use '' if col name has spaces

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [47]:
df[['day']][df.temperature==df['temperature'].max()] #print day when temp was max

        day
1  1/2/2017

In [48]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [49]:
df.set_index('day') # creates a new df with 'day as index'

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [50]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [51]:
df.loc['1/4/2017']  #cannot find row with '1/4/2017'

KeyError: '1/4/2017'

In [52]:
df.set_index('day',inplace=True) #index created for same df no new df created

In [53]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [54]:
df.loc['1/3/2017']  #able to find row with '1/3/2017'

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [55]:
df #old df not modified

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [60]:
df.reset_index(inplace=True) #bring index back to default
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [61]:
df.set_index('event',inplace=True) #any col we can make as index may contain duplicates as well
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [62]:
df.loc['Snow'] #list all rows matching 'Snow'

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

# video 3

reading data :
    - read_csv("filename")
    - read_excel("filename",sheet)
    - pd.Dataframe(list1)
    - pd.Dataframe(tuple1)
    - pd.Dataframe(dic1)
    - many more on official website

# video 4 read and write excel and csv